.layout {
  min-height: 100vh;
}

.main {
  margin-left: 240px;
  min-height: 100vh;
}

.content {
  padding: 24px;
  padding-top: 88px;
}

@media (max-width: 768px) {

  .main {
    margin-left: 72px;
  }

}