.topbar {
  position: fixed;

  top: 0;
  left: 240px;
  right: 0;

  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  background: white;

  border-bottom: 1px solid #ddd;

  z-index: 999;

  box-sizing: border-box;
}

.topbar h1 {
  font-size: 20px;
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info small {
  display: block;
  font-size: 12px;
}

.avatar {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}