<aside class="sidebar">

  <div class="brand">

    <h2>Recruitment</h2>

    <span>Pipeline</span>

  </div>


  <nav>

    <a
      *ngFor="let item of items"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
        exact: true
      }"
    >

      <span class="material-symbols-outlined">
        {{ item.icon }}
      </span>

      <span>
        {{ item.label }}
      </span>

          <!-- Stalled alert count -->

      <span
        *ngIf="item.label === 'Alerts' && stalledAlertCount > 0"
        class="alert-count"
      >
        {{ stalledAlertCount }}
      </span>

    </a>

  </nav>


  <div class="sidebar-footer">

    <button
      type="button"
      (click)="logout()"
    >

      <span class="material-symbols-outlined">
        logout
      </span>

      Logout

    </button>

  </div>

</aside>